1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [11]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [12]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
print("SOLUTION EX1.A")

a=[]
for i in range (1,101):
    if (i%3==0) and not (i%5==0) :
        a.insert(i, "Hello")
    elif (i%5==0) and not (i%3==0):
        a.insert(i, "Word")
    elif ((i%3==0) and (i%5==0)):
        a.insert(i, "Hello Word")
    else :
        a.insert(i,i)        
print(a)
print("#######################################################################################################################")
################################################################################################################################
for x in range(1,100):
    if a[x]=="Hello":
        a[x]= "Python"
    elif a[x]=="Word":
        a[x] = "Works"
    elif a[x] == "Hello Word":
        a[x] = "PYthon Works"       
################################################################################################################################
print("SOLUTION EX1.B")

result1 = tuple(a)
print(result1)

SOLUTION EX1.A
[1, 2, 'Hello', 4, 'Word', 'Hello', 7, 8, 'Hello', 'Word', 11, 'Hello', 13, 14, 'Hello Word', 16, 17, 'Hello', 19, 'Word', 'Hello', 22, 23, 'Hello', 'Word', 26, 'Hello', 28, 29, 'Hello Word', 31, 32, 'Hello', 34, 'Word', 'Hello', 37, 38, 'Hello', 'Word', 41, 'Hello', 43, 44, 'Hello Word', 46, 47, 'Hello', 49, 'Word', 'Hello', 52, 53, 'Hello', 'Word', 56, 'Hello', 58, 59, 'Hello Word', 61, 62, 'Hello', 64, 'Word', 'Hello', 67, 68, 'Hello', 'Word', 71, 'Hello', 73, 74, 'Hello Word', 76, 77, 'Hello', 79, 'Word', 'Hello', 82, 83, 'Hello', 'Word', 86, 'Hello', 88, 89, 'Hello Word', 91, 92, 'Hello', 94, 'Word', 'Hello', 97, 98, 'Hello', 'Word']
#######################################################################################################################
SOLUTION EX1.B
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PYthon Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PYthon Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PYthon Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PYthon Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PYthon Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PYthon Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

In [14]:
print("SOLUTION EX2")
x=5
y=6

def swap_fun(x1,y1):
    global x
    x= y1
    global y
    y= x1

print("X:",x)
print("Y:",y)
swap_fun(x,y)
print("X:",x)
print("Y:",y)

SOLUTION EX2
X: 5
Y: 6
X: 6
Y: 5

In [15]:
print("SOLUTION EX3")
import math
def my_function(point1,point2):
    result = math.sqrt(pow((int(point1[1])-int(point1[0])),2)+pow((int(point2[1])-int(point2[0])),2))
    return result
x1 = 3
x2 = 0
point1=(x1,x2)
#print(int(point1[0])+int(point1[1]))
y1 = 0
y2 = 4
point2=(y1,y2)
my_function(point1,point2)

SOLUTION EX3

5.0

In [16]:
print("SOLUTION EX4")
s="Mahmoud Zakari Abdallah Wahba"
new_s=s.lower()
print(new_s)
#print(s[5])
char_array=[]
count_array=[]
for i in range(len(new_s)):
    count=0
    for j in range(len(new_s)):
        if new_s[i]==new_s[j]:            
            count+=1
    char_array.append(new_s[i])
    count_array.append(count)

#print(count_array)
for i in range(len(char_array)):
    a="Repeted"
    print(new_s[i] , count_array[i])

SOLUTION EX4
mahmoud zakari abdallah wahba
m 2
a 8
h 3
m 2
o 1
u 1
d 2
  3
z 1
a 8
k 1
a 8
r 1
i 1
  3
a 8
b 2
d 2
a 8
l 2
l 2
a 8
h 3
  3
w 1
a 8
h 3
b 2
a 8

In [17]:
print("SOLUTION EX5")

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
uniqueNumbers=set(l)
print(uniqueNumbers)
count=0
for i in uniqueNumbers:
    if i in l :
        count += 1
print (count)

SOLUTION EX5
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
54

In [18]:
print("SOLUTION EX6")
def square_Num(x1):
    x2 = pow(int(x1),2)
    return x2
def cube_Num(x1):
    x2 = pow(int(x1),3)
    return x2
def cube_square_num(x1):
    x2 = (square_Num(x1)*cube_Num(x1))*int(x1)
    return x2
x1 = 5
print(square_Num(x1))
print(cube_Num(x1))
print(cube_square_num(x1))

SOLUTION EX6
25
125
15625

In [19]:
print("SOLUTION EX7")
a=[]
for i in range(0,10):
    a.insert(i,pow(i,3))
print (a)
newlist = [pow(x,3) for x in range(0,10) ]
print (newlist)

SOLUTION EX7
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [20]:
print("SOLUTION EX8")

b=2
result = [3,4,5]
count=1
matrix = [[result[j]*i for j in range(3)] for i in range(1,21)]   
result1 = tuple(matrix)
print(result1)

SOLUTION EX8
([3, 4, 5], [6, 8, 10], [9, 12, 15], [12, 16, 20], [15, 20, 25], [18, 24, 30], [21, 28, 35], [24, 32, 40], [27, 36, 45], [30, 40, 50], [33, 44, 55], [36, 48, 60], [39, 52, 65], [42, 56, 70], [45, 60, 75], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 80, 100])

In [21]:
print("SOLUTION EX9")
def norm(x1):
    norm = [(float(i)-min(x1))/(max(x1)-min(x1)) for i in x1]
    return tuple(norm)
a = range(0,100,5)

norm(a)

SOLUTION EX9

(0.0,
 0.05263157894736842,
 0.10526315789473684,
 0.15789473684210525,
 0.21052631578947367,
 0.2631578947368421,
 0.3157894736842105,
 0.3684210526315789,
 0.42105263157894735,
 0.47368421052631576,
 0.5263157894736842,
 0.5789473684210527,
 0.631578947368421,
 0.6842105263157895,
 0.7368421052631579,
 0.7894736842105263,
 0.8421052631578947,
 0.8947368421052632,
 0.9473684210526315,
 1.0)